In [123]:
import os
import pandas as pd
import numpy as np
import pyodbc  as py
import pptx as px
from pptx.util import Cm as c, Pt as p
from pptx.chart.data import ChartData as cd
from pptx.dml.color import RGBColor as rg
from pptx.enum.chart import XL_CHART_TYPE as xl
import warnings
warnings.filterwarnings('ignore')
conn_str = (
    r'DRIVER={SQL Server};'
    r'SERVER=UG-BLR-L262;'
    r'database =AdventureWorksDW2008R2;'
    r'username=ETLdemo;'
    r'password=Devraj@@1;'
    r'Trusted_Connection=yes;'
)
cnxn = py.connect(conn_str)
sql ="""Select * from ETLtest.dbo.Fruits"""
df = pd.read_sql(sql, cnxn)
df.head()
conn_str = (
    r'DRIVER={SQL Server};'
    r'SERVER=UG-BLR-L262;'
    r'database =AdventureWorksDW2008R2;'
    r'username=ETLdemo;'
    r'password=Devraj@@1;'
    r'Trusted_Connection=yes;'
)
cnxn = py.connect(conn_str)
sql ="""Select * from ETLtest.dbo.Fruits"""
df = pd.read_sql(sql, cnxn)
df.head()
df.set_index("name", inplace= True)
df.head()
pres = pptx.Presentation()
slide = pres.slides.add_slide(pres.slide_layouts[5])
#edit the placeholder
title_ph = slide.placeholders[0]
tf_title_ph = title_ph.text_frame
run_p_0 = tf_title_ph.paragraphs[0]
run_p_0 = p_0.add_run()
run_p_0.text ="Data from local machine"
run_p_1 = tf_title_ph.
font_p_0 = run_p_0.font
font_p_0.size = p(60)
font_p_0.color.rgb = rg(255,0,0)
fruits = list(df.index)
data_bar_chart = cd()
data_bar_chart.categories = fruits
tuple_qty = tuple(df["Qunatity"].values)
data_bar_chart.add_series = ("Quantities",tuple_qty)
shape_bar_chart = slide.shapes.add_chart( xl.BAR_STACKED,
                                         c(2),
                                         c(5),
                                         c(21),
                                         c(12),
                                         data_bar_chart)
pres.save("test_pres.pptx")

      name  Qunatity
0    Apple        10
1  Oranges         4
2  Bananas        12
3    Guava         8